# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.iml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/core/target/
/Core/target/
/Common/target/
/Player/target/
/Bullet/target/
/CommonBullet/target/
/.idea/
Asteroid/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Enemy/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/Asteroid/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/DualshotWeapon/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/Enemy/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/Health/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/MultishotWeapon/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/Pickup/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/ScoreSystem/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/Weapon/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/WeaponPickup/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/DualshotWeapon/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/Health/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/MultishotWeapon/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/Pickup/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/ScoreSystem/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/Weapon/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/WeaponPickup/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/Asteroid/target/maven-archiver/pom.properties
/DualshotWeapon/target/maven-archiver/pom.properties
/Enemy/target/maven-archiver/pom.properties
/Health/target/maven-archiver/pom.properties
/MultishotWeapon/target/maven-archiver/pom.properties
/Pickup/target/maven-archiver/pom.properties
/ScoreSystem/target/maven-archiver/pom.properties
/Weapon/target/maven-archiver/pom.properties
/WeaponPickup/target/maven-archiver/pom.properties
/PickupGenerator/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/PickupGenerator/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/PickupGenerator/target/maven-archiver/pom.properties
